/*  Line Up Pagina */ 

/* @font-face {
    font-family: "inter"
    src: url(fonts/Inter-VariableFont_slnt,wght.ttf) format(ttf);
}
 */

@font-face {
    font-family: "inter";
    src: url("./fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: "cardo";
    src: url("./fonts/cardo-v19-latin-regular.woff2");
}

body {
    background-color: black;
    color: white;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;

}

header h1 {
    background: linear-gradient(to right, #ff6600, #ff3300);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'inter';
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: fit-content;
}

header ul {
    display: flex;
    gap: 2em;
}

header li {
    list-style:none;
}

header li a {
    text-decoration: none;
    color: white;
    font-family: 'inter';
    font-weight: 600;
    font-size: 1.8em;
}

header li a[href="Tickets"] {
    border: 3px solid white;
    padding: 5px 15px; 
}

.duophoto{
    display: flex;

}

.brock {
    background-image: url(images/brockhampton.png);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.brock div {
    margin-left: 1em;
    margin-bottom: 1em;
}

.fred {
    background-image: url(images/fredagain.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fred div {
    margin-left: 1em;
    margin-bottom: 1em;
}

.childish {
    background-image: url(images/childishgambino.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.childish div {
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.banner {
    margin: 0;
    padding: 0;
}

.banner h2 {
    font-family: 'cardo';
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

.banner h3 {
    font-family: 'inter';
    font-weight: 800;
    padding: 0;
    font-size: 3.2em;
    margin: 0;
}

.ticketbanner {
    background-color: black;
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    width: 100vw;
    height: 27em;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
}

.ticketbanner h2{
    font-family: 'inter';
    font-weight: 800;
    background: linear-gradient(15deg, #ff6600 35%, #ff3300 70%, #ff3300 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0;
    font-size: 6em;
    margin: 0;
}

.ticketbanner h3{
    font-family: 'inter';
    font-size: 1.5em;
    font-weight:100;
    font-weight: lighter;
    margin: 0.25em;
}

.ticketbuttons {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-top: 2em;
}

.ticketbuttons a {
    border: 3px solid white;
    padding: 16px 80px; 
    color: white;
    font-family: 'inter';
    font-weight: 600;
    font-size: 1.8em;
    text-decoration: none;
    align-content: center;
    gap: 4em;
}


.infobanner {
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100vw;
    height: 27em;
    padding-right: 6em;
    padding-left: 6em;
    gap: 2em;
    background: linear-gradient(110deg, #5358b9,#7e84e8 1% , #eb5e00 10% ,#eb5e00 80%, #eb5e00 1%, #5e62b2 99% , #7d83ff);
}

.infobanner h2 {
    width: 40em;
    font-family: 'inter';
    font-size: 5em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    background-color: whitesmoke;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.infobanner p {
    font-family: 'inter';
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align:justify;
    color: black;
}

strong {
    color: white;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: space-between;
    font-family: 'inter';
    font-size: 1.5em;
    max-width: 100vw;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-right: 4em;
}

footer nav ul li {
    gap: 32px;
    list-style-type: none;
    padding: 0.25em;
    margin-left: 0.8em;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
}

.socials div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    gap: 0.5em;
}



.instagram-logo {
    background: url('images/instagramlogo.svg') no-repeat center center;
    background-size: contain;
    width: 2.5em;
    height: 2.5em;
}

.spotify-logo {
    background: url('images/spotifylogo.svg') no-repeat center center;
    background-size: contain;
    width: 2.5em;
    height: 2.5em;
}

.twitter-logo {
    background: url('images/x-logo.svg') no-repeat center center;
    background-size: contain;
    width: 2.5em;
    height: 2.5em;
}

.subscribe div {
    display: flex;
    align-items: center;
    gap: 0.3em
}

.subscribe div input [type="text"], select {
padding: 0;
font-size: 6em;
}

.subscribe div input{
    width: 20em;
    height: 3.2em;
    }


.subscribe div button {
    border: solid white;
    background-color: transparent;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.5em;
    font-family: 'inter';
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

/*  Line Up Pagina */ 

.lineuppage header nav ul li a[href="Line up"]{
    text-decoration: underline;
    text-decoration-thickness: 0.1em ;
}

main h2 {
    font-family: 'inter';
    font-weight: 800;
    padding: 0;
    font-size: 10em;
    margin: 0;
}

h3 {
    font-family: 'inter';
    font-weight: 800;
    padding: 0;
    font-size: 3.2em;
    margin: 0;
}

.friday div:nth-child(1){
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100vw;
    height: 27em;
    padding-right: 6em;
    padding-left: 6em;
    gap: 2em;
    background: linear-gradient(110deg, #5358b9,#7e84e8 1% , #eb5e00 10% ,#eb5e00 80%, #eb5e00 1%, #5e62b2 99% , #7d83ff);
}

.friday > section:first-of-type {
    background-image: url(Images/artistfotos/billieeilish.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.friday > section:last-of-type {
    background-image: url(Images/brockhampton.png);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tripplephoto {
    display: flex;
}

.tripplephoto {
    display: flex;
}

.friday > div:nth-child(3) {
    display: flex;
}

.friday > div:nth-child(3) section:nth-child(1) {
    background-image: url(Images/artistfotos/fourtet.jpeg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.friday > div:nth-child(3) section:nth-child(2) {
    background-image: url(Images/artistfotos/flume.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friday > div:nth-child(4) {
    display: flex;
}

.friday > div:nth-child(4) section:nth-child(1) {
    background-image: url(Images/artistfotos/jimestack.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friday > div:nth-child(4) section:nth-child(2) {
    background-image: url(Images/artistfotos/kllo.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friday > div:nth-child(4) section:nth-child(3) {
    background-image: url(Images/artistfotos/debnever.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.saturday div:nth-child(1) {
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100vw;
    height: 27em;
    padding-right: 6em;
    padding-left: 6em;
    gap: 2em;
    background: linear-gradient(110deg, #5358b9,#7e84e8 1% , #eb5e00 10% ,#eb5e00 80%, #eb5e00 1%, #5e62b2 99% , #7d83ff);
}


.saturday > section:first-of-type {
    background-image: url(Images/artistfotos/fredagain.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.saturday > div:nth-child(3) {
    display: flex;
}

.saturday > div:nth-child(3) section:nth-child(1) {
    background-image: url(Images/artistfotos/tommisch.jpeg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.saturday > div:nth-child(3) section:nth-child(2) {
    background-image: url(Images/artistfotos/vincestaples.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



h3 {
    z-index: 2;
    color: #fff;
    margin-bottom: 0.2em;
    margin-left: 0.4em;
}



.saturday > section:nth-child(4) {
    background-image: url(Images/artistfotos/lafemme.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.saturday > div:nth-child(5) {
    display: flex;
}

.saturday > div:nth-child(5) section:nth-child(1) {
    background-image: url(Images/artistfotos/rossfromfriends.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.saturday > div:nth-child(5) section:nth-child(2) {
    background-image: url(Images/artistfotos/muramasa.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.saturday > section:nth-child(6) {
    background-image: url(Images/artistfotos/peggygou.jpeg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sunday div:nth-child(1) {
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100vw;
    height: 27em;
    padding-right: 6em;
    padding-left: 6em;
    gap: 2em;
    background: linear-gradient(110deg, #5358b9,#7e84e8 1% , #eb5e00 10% ,#eb5e00 80%, #eb5e00 1%, #5e62b2 99% , #7d83ff);
}

.sunday > section:first-of-type {
    background-image: url(Images/artistfotos/childishgambino.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sunday > div:nth-child(3) {
    display: flex;
}

.sunday > div:nth-child(3) section:nth-child(1) {
    background-image: url(Images/artistfotos/clairo.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sunday > div:nth-child(3) section:nth-child(2) {
    background-image: url(Images/artistfotos/arloparks.jpg);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




.sunday > section:nth-child(4) {
    background-image: url(Images/artistfotos/photay.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-position-y:70%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sunday > div:nth-child(5) {
    display: flex;
}




.sunday > div:nth-child(5) section:first-of-type {
    background-image: url(Images/artistfotos/thexx.png);
    width: 50vw;
    height: 27em;
    background-position-x:35%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sunday > div:nth-child(5) section:nth-child(2) {
    background-image: url(Images/artistfotos/bicep.png);
    width: 50vw;
    height: 27em;
    background-position-x:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.sunday > section:nth-child(6) {
    background-image: url(Images/artistfotos/palace.jpg);
    width: 100vw;
    height: 27em;
    background-position-x:center;
    background-position-y:top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

